<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front API Task</title>
</head>
<body>
    <div class="containerall">
        <h2>Lista de tarefas</h2>
        <div class="addTask">
            <input type="text" id="title" placeholder="titulo"> <br>
            <input type="text" id="description" placeholder="descrição"><br>
            <form>
                <select name="tipos" id="type">
                    <option value="Pessoal">Pessoal</option>
                    <option value="Profissional">Profissional</option>
                </select>
            </form>
            <button id="btSave"> salvar </button>     
        </div>
        <div class="listTask">
            <h2> Tarefas criadas</h2>
        </div>
    </div>
</body>
<script src="/scripts/addTask.js"></script>
<script src="/scripts/viewTask.js"></script>
</html>